.order-progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
  
.progress-step {
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-right: 10px;
}
  
.progress-step.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
  