.product-gallery {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}
  
.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
  
.product-info h3 {
    font-size: 20px;
    margin: 0;
}
  
.product-info p {
    margin: 5px 0;
}
  
.product-info .cart-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50; /* Green color for Add to Cart button */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
  
.product-info .cart-btn:hover {
    background-color: #45a049; /* Darker green color on hover */
}
  
.product-info .delete-btn {
    margin-left: 10px;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f44336; /* Red color for Delete Product button */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
  
.product-info .delete-btn:hover {
    background-color: #d32f2f; /* Darker red color on hover */
}
  
.product-info button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  