.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 100vw;
    height: 100vw; /* increase height to accommodate the store name */
    margin: 0;
}
  
.banner {
    display: flex;
    align-items: center; /* Center the banner image horizontally */
    width: 100%;
    max-width: 100%;
    max-height: 40%;
    overflow: hidden;
}
  
.banner img {
    width: 100%;
    height: auto;
}
  
.store-name {
    font-size: 2rem;
    max-height: 500px;
    margin-top: 10px; /* Adjust the margin to provide more spacing */
    color: white;
}
  