body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: grid;
    place-items: center;
    height: 100vh; /* Set the height of the container to fill the screen */
    align-items: center;
}
  
.login-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
  
.login-form h2 {
    margin-bottom: 20px;
}
  
.login-form div {
    margin-bottom: 15px;
}
  
.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.login-form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
  
.login-form button:hover {
    background-color: #0056b3;
}